.banner{
    background: linear-gradient(180deg, #F9EE80 10.39%, #FFFCDB 107.97%);
    display: flex;
}
.banner-destkop{
    max-width: 100%;
}
.banner-story{
    display: flex;
}
.banner-story-img{
    margin-top: 2rem;
    max-width: 100%;
    margin-bottom: -12rem;
}
.about-body{
    background-image: url('https://i.ibb.co/F7vps9X/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.about-section1{
    padding:3rem;
    padding-left: 8rem;
}
.about-section2{
    padding:3rem;
}
.about-section3{
    padding:3rem;
}
.about-section4{
    padding:3rem;
}

.quienes-tittle{
    max-width: 50%;
}

.container1 {
    display: flex;
    align-items: center;
}

.about-text1 {
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    color: #404041;
    font-family: Ubuntu;
    font-size: 24px;
}

.img-quienes {
    max-width: 50%;
}

.nuestros-tittle{
    max-width: 90%;
    padding-right: 17rem;
    margin-top:0;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.img-container {
    flex: 1;
    max-width: 50%;
}
.img-quienes2{
    width: 100%;
}
.about-text2{
    color: #404041;
    font-family: Ubuntu;
    font-size: 24px;
    margin-bottom: 5rem;
    padding-left: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}
.container2 {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    text-align: left; 
}

.recuerdos-img {
    max-width: 50%;
    padding-left: 6rem;
}

.about-text3 {
    padding: 0 20px;
    color: #404041;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    padding-left: 3rem;
}


.container4 {
    margin: 0 auto;
    padding: 20px;
}

.recuerdos-tittle {
    margin-left: auto;
    display: block;
    max-width: 50%;
}
.otakus{
    margin-top: 6rem;
    max-width: 70%;
    z-index: 1000;
    position: relative;
    margin-left: 4rem;
}
.about-text{
    color: #404041;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 4rem;
}
.otakusimg{
    width: 100%;
    z-index: -2;
}
.nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/tCC0Ysd/fondo-hamburger.jpg);
    z-index: 1000;

    img {
        max-width: 30%;
        height: auto;
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &.menu-open {
        img {
            opacity: 1;
        }
    }
}

.nav-list {
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        padding: 1.5rem;
        font-size: 2rem;
        font-family: "Quatsch";
        color: #7469C7;
    }
    a{
        text-decoration: none;
    }
}

.open-menu {
    display: block;
    font-size: 3rem;
    color: #424040;
    position: absolute;
    top: 35px;
    right: 40px;
    z-index: 1001;
}

.close-menu {
    display: none;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 3rem;
}

@media only screen and (min-width: 350px) and (max-width: 992px) {
    .about-body,
    .banner-story,
    .flechin,
    .about-section1,
    .about-section2,
    .about-section3,
    .about-section4,
    .container1,
    .container2,
    .container4,
    .text-container,
    .img-container,
    .about-text1,
    .about-text2,
    .about-text3,
    .about-text,
    .recuerdos-tittle,
    .nuestros-tittle,
    .quienes-tittle,
    .otakus {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 100%;
    }

    .img-quienes,
    .img-quienes2,
    .recuerdos-img,
    .otakusimg {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
    
    .banner-story-img{
        margin-bottom: 0;
    }
    .about-text1,.about-text2,.about-text3,.about-text {
        margin:1rem;
        color: #404041;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        width: auto;
        
    }
    .text-container{
        margin:0;
        max-width: 100%;
    }
    .recuerdos-tittle{
        max-width: 90%;
        margin-top: 1rem;
    }
    .img-quienes{
        max-width: 70%;
    }
    .recuerdos-img,.otakus{
        max-width: 100%;
    }
    .img-quienes2,.recuerdos-img{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .img-container{
        align-items: center;
        justify-content: center;
        margin:0 auto;
        max-width: none;
        max-height: 50%;
    }
    .otakusimg{
        width: 80%;
    }
}

