
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

.slider {
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;

    .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 10);

        .slide-nav {
            width: 200px;

            p {
                width: 100%;
            }
        }
    }
}

.body-faq {
    background-image: url(https://i.ibb.co/fNY8LZd/kawaii-responde-desktop-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

    .banner {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.preguntas-frecuentes {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 30px 50px 30px 75px;
    font-family: 'Ubuntu', sans-serif;

    .pregunta {
        position: relative;
        h3 {
            font-size: 23px;
            color: #7469C7;
            line-height: 40px;
            margin-top: 30px;
        }

        p {
            color: #404041;
            font-size: 18px;
            margin-top: 5px;
            line-height: 33px;
        }
        img{
            position: relative; 
        }

        .reloj{
            margin: -90px 0px 0px 41rem;
            height: 70px;
        }

        .casa{
            margin: -8rem 0px 0px 21rem;
            height: 55px;
        }

        .drop-shipping{
            margin: -7.8rem 0px 0px 10rem;
            height: 75px;
        }

        .monedas{
            margin: -5.8rem 0px 0px 23rem;
            height: 60px;
        }

        .regalo{
            margin: -10.3rem 0px 0px 39rem;
            height: 60px;
        }
        
        .drop-shipping-2{
            margin: -9rem 0px 0px 43rem;
            height: 85px;
        }
    }
}

@media (max-width: 576px) {
    .preguntas-frecuentes {
        .pregunta {
            p {
                font-size: 18px !important;
            }
            .reloj{
                margin: -110px 0px 0px 9rem;
                height: 40px;
            }
    
            .casa{
                margin: -11rem 0px 0px 21rem;
                height: 35px;
            }
    
            .drop-shipping{
                margin: -9.7rem 0px 0px 11.5rem;
                height: 50px;
            }
    
            .monedas{
                margin: -9.5rem 0px 0px 23rem;
                height: 40px;
            }
    
            .regalo{
                margin: -17.3rem 0px 0px 12rem;
                height: 35px;
            }
            
            .drop-shipping-2{
                margin: -11.2rem 0px 0px 15rem;
                height: 55px;
            }
        }
    }
}


@media (max-width: 768px) {
    .pregunta {
        .reloj{
            margin: -87px 0px 0px 36rem !important;
            height: 50px !important;
        }

        .casa{
            margin: -9rem 0px 0px 20rem !important;
            height: 45px !important;
        }

        .drop-shipping{
            margin: -8.5rem 0px 0px 11rem !important;
            height: 68px !important;
        }

        .monedas{
            margin: -8rem 0px 0px 23rem !important;
            height: 55px !important;
        }

        .regalo{
            margin: -14.4rem 0px 0px 37rem !important;
            height: 55px !important;
        }
        
        .drop-shipping-2{
            margin: -12.5rem 0px 0px 38rem !important;
            height: 65px !important;
        }
    }
}

@media (min-width: 993px) {
    
        .banner {
            .icons-mobile {
                display: none;
            }
        }
    
        .banner-mobile{
            img{
                display: none;
            }
        }
    
        .body-mobile {
            display: none;
        }
    }


@media (max-width: 992px) {
    .flechin{
        display: none;
    }
    .banner{
        .banner-destkop{
            display: none;
        }
    }

    .banner-mobile{
        img{
        width: 100% !important;
        }
    }


    .nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://i.ibb.co/tCC0Ysd/fondo-hamburger.jpg);
        z-index: 1000;

        img {
            max-width: 30%;
            height: auto;
            margin-top: 20px;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    
        &.menu-open {
            img {
                opacity: 1;
            }
        }
    }

    .nav-list {
        list-style: none !important;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            padding: 1.5rem;
            font-size: 2rem;
            font-family: "Quatsch";
            color: #7469C7;
        }
        a{
            text-decoration: none;
        }
    }

    .open-menu {
        display: block;
        font-size: 3rem;
        color: #424040;
        position: absolute;
        top: 35px;
        right: 40px;
        z-index: 1001;
    }

    .close-menu {
        display: none;
        position: absolute;
        top: 25px;
        right: 30px;
        font-size: 3rem;
    }

    .pregunta {
        .drop-shipping{
            margin: -8.7rem 0px 0px 11rem !important;
        }

        .monedas{
            margin: -7.9rem 0px 0px 23rem !important;
        }

        .regalo{
            margin: -12.7rem 0px 0px 39rem !important;
        }
        
        .drop-shipping-2{
            margin: -9rem 0px 0px 43rem;
            height: 85px;
        }
    }
}