
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

.slider {
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;

    .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 10);

        .slide-nav {
            width: 200px;

            p {
                width: 100%;
            }
        }
    }
}

.body-faq {
    background-image: url(https://i.ibb.co/fNY8LZd/kawaii-responde-desktop-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

    .banner {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.preguntas-frecuentes {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 30px 50px 30px 75px;
    font-family: 'Ubuntu', sans-serif;

    .pregunta {
        position: relative;
        h3 {
            font-size: 23px;
            color: #7469C7;
            line-height: 40px;
            margin-top: 30px;
        }

        p {
            color: #404041;
            font-size: 18px;
            margin-top: 5px;
            line-height: 33px;
        }
        img{
            position: relative; 
        }

        .reloj{
            margin: -90px 0px 0px 41rem;
            height: 70px;
        }

        .casa{
            margin: -8rem 0px 0px 21rem;
            height: 55px;
        }

        .drop-shipping{
            margin: -7.8rem 0px 0px 10rem;
            height: 75px;
        }

        .monedas{
            margin: -5.8rem 0px 0px 23rem;
            height: 60px;
        }

        .regalo{
            margin: -10.3rem 0px 0px 39rem;
            height: 60px;
        }
        
        .drop-shipping-2{
            margin: -9rem 0px 0px 43rem;
            height: 85px;
        }
    }
}

@media only screen and (min-width: 350px) and (max-width: 992px) {
    .preguntas-frecuentes,
    .pregunta,
    .pregunta h3,
    .pregunta p,
    .pregunta img {
        display:block;
        margin:0;
        max-width: 100%;
        padding: 0;
    }
    .pregunta p{
        color: #404041;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .preguntas-frecuentes .pregunta .reloj,.preguntas-frecuentes .pregunta .regalo,.preguntas-frecuentes .pregunta .drop-shipping-2,.preguntas-frecuentes .pregunta .monedas,.preguntas-frecuentes .pregunta .casa,.preguntas-frecuentes .pregunta .drop-shipping{
        margin:0;
        margin:auto;
    }
    .pregunta h3{
        text-align: center;
    }
    .preguntas-frecuentes .pregunta h3 {
        text-align: center;
    }

}
