@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

.slider {
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;

    .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 10);

        .slide-nav {
            width: 200px;

            p {
                width: 100%;
            }
        }
    }
}

.body-faq {
    background-image: url(https://i.ibb.co/ZVwTMK2/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;

    .banner {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.preguntas-frecuentes {
    margin: 30px 50px 30px 50px;
    font-family: 'Ubuntu', sans-serif;

    .pregunta {
        position: relative;
        h3 {
            font-size: 23px;
            color: #7469C7;
            line-height: 40px;
            margin-top: 30px;
        }

        p {
            color: #404041;
            font-size: 18px;
            margin-top: 5px;
            line-height: 33px;
        }
        img{
            position: absolute; 
        }

        .reloj{
            margin: -90px 0px 0px 41rem;
            height: 70px;
        }

        .casa{
            margin: -8rem 0px 0px 21rem;
            height: 55px;
        }

        .drop-shipping{
            margin: -6.8rem 0px 0px 15rem;
            height: 85px;
        }

        .monedas{
            margin: -5.8rem 0px 0px 23rem;
            height: 60px;
        }

        .regalo{
            margin: -10.3rem 0px 0px 39rem;
            height: 60px;
        }
        
        .drop-shipping-2{
            margin: -9rem 0px 0px 43rem;
            height: 85px;
        }
    }
}