@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.banner {
  position: relative;
  background-color: rgb(116, 105, 199);
}

.nav-bar {
  width: 100vw;
  position: relative;
  height: 5em;
  background-color: rgb(116, 105, 199);
}

.slider {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  width: 100vw;
  height: 5em;
  background-color: rgb(116, 105, 199);
}

.slidenavelement {
  height: 5em;
  display: flex;
  align-items: center;
  background-color: rgb(116, 105, 199);
  transform-origin: center center;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  transform: translateZ(0);
  margin-right: 3rem;
  border-radius: 8px;
}

.slidenavelement img {
  height: 3em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 2rem;
  margin-left: 3rem;
}

.slidenavelement a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slidenavelement:hover {
  transform: scale(1.15) translateZ(0);
}

.banner-index {
  width: 100%;
  height: auto;
  display: block;
}

body, html {
  height: 100%;
  margin: 0;
}

.first-section {
  display: flex;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.carousel-info {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 238, 128);
  z-index: 2;
}

.carousel-title {
  font-size: 1em;
  font-size: 3vw;
}

.carousel-button {
  display: inline-block;
  margin-top: 1em;
  background-color: #3498db;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.indicator {
  width: 1em;
  height: 1em;
  background-color: #555;
  border-radius: 50%;
  margin: 0 0.5em;
}

.auto-carousel {
  flex: 1;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.carousel-container {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-80deg, transparent 50%, rgb(249, 238, 128) 50%);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .carousel-info, .auto-carousel {
    width: 100%;
  }
}
.cards-section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.card1 {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card1-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media screen and (max-width: 600px) {
  .cards-section {
    grid-template-columns: 1fr;
  }
}
.third-section {
  display: grid;
  grid-template-columns: 100%;
  gap: 1em;
}

.bannerImg {
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.img-galery {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery img:nth-child(3n-2),
.galery img:nth-child(3n) {
  grid-row: span 2;
}

@media screen and (max-width: 600px) {
  .galery {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer {
  background-color: rgb(249, 238, 128);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  text-decoration: none;
}

.social-image {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 5rem;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-image:hover {
  transform: scale(1.15);
  filter: brightness(115%);
}

.products-galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.product-card {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.slider {
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2000px;
}
.slider .slide-track .slide-nav {
  width: 200px;
}
.slider .slide-track .slide-nav p {
  width: 100%;
}

.body-recommendations {
  background-image: url(https://i.ibb.co/ZVwTMK2/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-recommendations .banner img {
  width: 100%;
  height: auto;
}

.top-10-manga {
  position: relative;
}
.top-10-manga img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.top-10-manga #deploy-btn {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

#card-content-fixed {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#card-content-fixed img {
  height: 460px;
  width: auto;
  margin: 70px 80px 70px 50px;
}
#card-content-fixed .card-text-fixed {
  width: 60%;
}
#card-content-fixed .card-text-fixed h3 {
  font-size: 2rem;
  margin: 105px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#card-content-fixed .card-text-fixed p {
  width: 80%;
  font-size: 30px;
  margin: 10px 0px 0px 150px;
}

#card-content {
  justify-content: space-between;
  overflow: hidden;
}
#card-content .card {
  display: none;
}
#card-content img {
  height: 460px;
  width: auto;
  margin: 30px 10px 70px 200px;
}
#card-content .card-text {
  width: 60%;
}
#card-content .card-text h3 {
  font-size: 2rem;
  margin: 80px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#card-content .card-text p {
  width: 80%;
  font-size: 30px;
  margin: 0px 0px 0px 150px;
}

.top-10-anime {
  position: relative;
}
.top-10-anime img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.top-10-anime #anime-btn {
  position: absolute;
  top: 67%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

#anime-cont-fix {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#anime-cont-fix img {
  height: 460px;
  width: auto;
  margin: 70px 80px 70px 50px;
}
#anime-cont-fix .text-anime-fix {
  width: 60%;
}
#anime-cont-fix .text-anime-fix h3 {
  font-size: 2rem;
  margin: 105px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#anime-cont-fix .text-anime-fix p {
  width: 80%;
  font-size: 30px;
  margin: 10px 0px 0px 150px;
}

#cont-anime-takeoff {
  justify-content: space-between;
  overflow: hidden;
}
#cont-anime-takeoff .card-anime-takeoff {
  display: none;
}
#cont-anime-takeoff img {
  height: 460px;
  width: auto;
  margin: 30px 10px 70px 200px;
}
#cont-anime-takeoff .text-anime-takeoff {
  width: 60%;
}
#cont-anime-takeoff .text-anime-takeoff h3 {
  font-size: 2rem;
  margin: 80px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#cont-anime-takeoff .text-anime-takeoff p {
  width: 80%;
  font-size: 30px;
  margin: 0px 0px 0px 150px;
}

.recommendations .banner-rec {
  width: 100%;
  height: auto;
}
.recommendations h3 {
  font-size: 35px;
  margin: 20px 110px;
}
.recommendations .list-recommendations {
  display: flex;
  justify-content: space-between;
}
.recommendations .list-recommendations img {
  height: 500px;
}
.recommendations .list-recommendations .tips p {
  font-size: 32px;
  margin: 70px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
}
.recommendations .list-recommendations .tips p .number {
  position: absolute;
  font-size: 90px;
  left: 0px;
}
.recommendations .friend {
  font-size: 3rem;
  text-align: center;
  margin: 30px 290px 60px 290px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.slider {
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2000px;
}
.slider .slide-track .slide-nav {
  width: 200px;
}
.slider .slide-track .slide-nav p {
  width: 100%;
}

.body-faq {
  background-image: url(https://i.ibb.co/ZVwTMK2/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-faq .banner img {
  width: 100%;
  height: auto;
}

.preguntas-frecuentes {
  margin: 30px 50px 30px 50px;
  font-family: "Ubuntu", sans-serif;
}
.preguntas-frecuentes .pregunta {
  position: relative;
}
.preguntas-frecuentes .pregunta h3 {
  font-size: 23px;
  color: #7469C7;
  line-height: 40px;
  margin-top: 30px;
}
.preguntas-frecuentes .pregunta p {
  color: #404041;
  font-size: 18px;
  margin-top: 5px;
  line-height: 33px;
}
.preguntas-frecuentes .pregunta img {
  position: absolute;
}
.preguntas-frecuentes .pregunta .reloj {
  margin: -90px 0px 0px 41rem;
  height: 70px;
}
.preguntas-frecuentes .pregunta .casa {
  margin: -8rem 0px 0px 21rem;
  height: 55px;
}
.preguntas-frecuentes .pregunta .drop-shipping {
  margin: -6.8rem 0px 0px 15rem;
  height: 85px;
}
.preguntas-frecuentes .pregunta .monedas {
  margin: -5.8rem 0px 0px 23rem;
  height: 60px;
}
.preguntas-frecuentes .pregunta .regalo {
  margin: -10.3rem 0px 0px 39rem;
  height: 60px;
}
.preguntas-frecuentes .pregunta .drop-shipping-2 {
  margin: -9rem 0px 0px 43rem;
  height: 85px;
}/*# sourceMappingURL=styles.css.map */