@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: relative;
  background-color: rgb(116, 105, 199);
}

.scroller {
  min-width: 100%;
  background-color: rgb(116, 105, 199);
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated=true] {
  overflow: hidden;
}

.scroller[data-animated=true] .scroller__inner {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=left] {
  --_animation-direction: forwards;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.slidenavelement {
  height: 5em;
  display: flex;
  align-items: center;
  background-color: rgb(116, 105, 199);
  transform-origin: center center;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  transform: translateZ(0);
  margin-right: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
}

.slidenavelement img {
  height: 3em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
  margin-left: 1rem;
}

.slidenavelement a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Quatsch";
}

.slidenavelement:hover {
  transform: scale(1.2) translateZ(0);
}

.slidenavelement a:active {
  color: rgb(240, 213, 0);
}

.flechin {
  position: fixed;
  top: 60vh;
  left: 0;
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.flechin img {
  max-height: 10vh;
  transition: transform 0.3s ease;
}

#flechinHover {
  display: none;
  transition: transform 0.3s ease;
}

.flechin:hover #flechinHover {
  display: block;
  transition: transform 0.3s ease;
}

.flechin:hover #flechinImg {
  display: none;
  transition: transform 0.3s ease;
}

.flechin2 {
  position: fixed;
  top: 60vh;
  left: 0;
  display: block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.flechin2 img {
  max-height: 10vh;
  transition: transform 0.3s ease;
}

#flechin2Hover {
  display: none;
  transition: transform 0.3s ease;
}

.flechin2:hover #flechin2Hover {
  display: block;
  transition: transform 0.3s ease;
}

.flechin2:hover #flechin2Img {
  display: none;
  transition: transform 0.3s ease;
}

.banner-index {
  width: 100%;
  height: auto;
  display: block;
}

.first-section {
  display: flex;
  height: 100vh;
  background-color: white;
}

.left-section {
  flex: 45%;
  background: linear-gradient(107deg, rgb(249, 238, 128) 75%, transparent 50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-info {
  width: 80%;
  text-align: center;
}

.carousel-title {
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 6em;
  font-family: "Quatsch";
  text-align: left;
  color: rgb(74, 74, 74);
}

.carousel-button {
  font-size: 2rem;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(116, 105, 199);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Quatsch";
  margin-left: -13rem;
}

a.carousel-button:hover {
  transform: scale(1.15) !important;
}

a.carousel-button:active {
  transform: scale(1.15) !important;
  color: rgb(240, 213, 0) !important;
}

.right-section {
  flex: 55%;
  overflow: hidden;
}

#carousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  min-height: 100vh;
  width: 500%;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: -13rem;
}

.indicator {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid rgb(74, 74, 74);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
}

.indicator::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: rgb(74, 74, 74);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.indicator.active::before {
  opacity: 1;
}

.cards-section {
  display: flex;
  height: 100vh;
}

.card1 {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.card1 a {
  display: block;
  width: 100%;
  height: 100%;
}

.capafondo,
.capaintermedia,
.capafrontal {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.capafondo {
  z-index: 1;
}

.capaintermedia {
  z-index: 2;
}

.capafrontal {
  z-index: 3;
}

.card1:hover .capaintermedia {
  transform: rotate(180deg);
}

.card1:hover .capafrontal {
  transform: scale(1.1);
}

.card1:active .capaintermedia {
  transform: scale(1.6);
}

.card1:active .capafrontal {
  transform: scale(1.1);
}

.third-section {
  overflow: hidden;
}

.bannerGalery {
  max-width: 100vw;
}

.galery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.img1 {
  grid-column: 1;
  grid-row: 1;
}

.img2 {
  grid-column: 1;
  grid-row: 2;
}

.img3 {
  grid-column: 2;
  grid-row: 1;
}

.img4, .img6 {
  grid-column: 2/span 3;
  grid-row: 2;
}

.img5 {
  grid-column: 3;
  grid-row: 1;
}

.img7 {
  grid-column: 4;
  grid-row: 1;
}

.img8 {
  grid-column: 5;
  grid-row: 1;
}

.img9 {
  grid-column: 5;
  grid-row: 2;
}

.imgGalery {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}

.imgGalery:hover {
  transform: scale(1.2);
}

.bolsin {
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 1000;
}

.bolsin img {
  width: 7rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.bolsin:hover {
  transform: scale(1.15);
}

.bolsin:active {
  transform: scale(1.15);
  filter: brightness(140%);
}

@media (max-width: 768px) {
  .body-index-mobile {
    display: block;
  }
  .body-index-desktop {
    display: none;
  }
  .social-image1 {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 3rem;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .social-image1:hover {
    transform: scale(1.15);
  }
  .social-image1:active {
    transform: scale(1.15);
    filter: brightness(120%);
  }
  .custom-carousel-section {
    position: relative;
    overflow: hidden;
  }
  .custom-carousel-section::before,
  .custom-carousel-section::after {
    content: "";
    position: absolute;
    top: 0;
    width: 15vw;
    height: 100%;
    background: rgb(249, 238, 128);
  }
  .custom-carousel-section::before {
    left: -9vw;
    transform: skewX(-5deg);
  }
  .custom-carousel-section::after {
    right: -9vw;
    transform: skewX(-5deg);
  }
  .custom-carousel-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    color: white;
  }
  .custom-carousel-title {
    margin: 0;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: 2em;
    font-family: "Quatsch";
    text-align: center;
    color: rgb(74, 74, 74);
  }
  .custom-carousel-button {
    font-size: 2rem;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(116, 105, 199);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Quatsch";
    transition: transform 0.3s ease;
  }
  .custom-carousel-button:hover {
    transform: scale(1.15) !important;
  }
  .custom-carousel-button:active {
    transform: scale(1.15) !important;
    color: rgb(240, 213, 0) !important;
  }
  .custom-carousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-height: 100vh;
    width: 500%;
  }
  .custom-slide {
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .custom-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .custom-carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 65vh;
    margin-bottom: 5vh;
  }
  .custom-carousel-indicator {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid rgb(74, 74, 74);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
  }
  .custom-carousel-indicator::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: rgb(74, 74, 74);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .custom-carousel-indicator.active::before {
    opacity: 1;
  }
  .cards-section {
    flex-direction: column;
  }
  .card1, .capafondo, .capaintermedia, .capafrontal, .cards-section {
    max-height: 27vh;
  }
  a {
    max-height: 25vh;
  }
  .card1:hover .capafrontal {
    transform: scale(1.2);
  }
  .third-section1 {
    max-width: 100%;
    margin-top: 53vh;
  }
  .bannerGalery1 {
    max-width: 100%;
  }
  .back {
    background-color: white !important;
  }
  .img-gal {
    max-height: 200px;
  }
  .social-image1 {
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer {
    height: 100px !important;
  }
  .bolsin img {
    width: 5rem !important;
  }
}
@media (min-width: 769px) {
  .body-index-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .carousel-title {
    font-size: 2rem;
    margin-left: -2rem;
    padding-bottom: 4rem;
  }
  .capafrontal {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .left-section {
    background: linear-gradient(98deg, rgb(249, 238, 128) 75%, transparent 50%);
  }
  .carousel-button {
    margin-left: -10rem;
  }
  #carousel-indicators {
    margin-left: -10rem;
  }
}
@media (max-width: 1500px) {
  .carousel-title {
    font-size: 3em;
  }
  .capafrontal {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .left-section {
    background: linear-gradient(98deg, rgb(249, 238, 128) 75%, transparent 50%);
  }
}
.footer {
  background-color: rgb(249, 238, 128);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  text-decoration: none;
}

.social-image {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 5rem;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-image:hover {
  transform: scale(1.15);
}

.social-image:active {
  transform: scale(1.15);
  filter: brightness(120%);
}

@media (max-width: 768px) {
  .social-image1 {
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer {
    height: 100px !important;
  }
  .social-image {
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.bannerProducts {
  background: linear-gradient(180deg, #F9EE80 10.39%, #FFFCDB 107.97%);
  display: flex;
  overflow: hidden;
}

.imgBannerProducts {
  max-width: 100vw;
}

.products-galery {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: linear-gradient(180deg, #F9EE80 10.39%, #FFFCDB 107.97%);
}

.product-card {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.2);
}

.swal2-popup {
  background-color: rgba(247, 235, 172, 0.947) !important;
  font-size: 1.2rem;
  font-family: "Quatsch";
}

.swal2-confirm {
  font-family: "Quatsch";
}

.swal2-cancel {
  font-family: "Quatsch";
}

.bolsin {
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 1000;
}

.bolsin img {
  width: 7rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.bolsin:hover {
  transform: scale(1.15);
}

.bolsin:active {
  transform: scale(1.15);
  filter: brightness(140%);
}

@media (max-width: 576px) {
  .product-card {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .products-galery {
    padding: 1rem;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.slider {
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2000px;
}
.slider .slide-track .slide-nav {
  width: 200px;
}
.slider .slide-track .slide-nav p {
  width: 100%;
}

.body-recommendations {
  background-image: url(https://i.ibb.co/8r8kmfv/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-recommendations .banner img {
  width: 100%;
  height: auto;
}

.top-10-manga {
  position: relative;
}
.top-10-manga img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.top-10-manga #deploy-btn {
  position: absolute;
  top: 45%;
  left: 73%;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.top-10-manga #deploy-btn:hover {
  transform: scale(1.3);
}

#card-content-fixed {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#card-content-fixed img {
  height: 460px;
  width: auto;
  margin: 70px 80px 70px 50px;
}
#card-content-fixed .card-text-fixed {
  width: 60%;
}
#card-content-fixed .card-text-fixed h3 {
  font-family: "Quatsch";
  font-weight: 100;
  font-size: 2rem;
  margin: 105px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#card-content-fixed .card-text-fixed p {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 30px;
  margin: 10px 0px 0px 150px;
}

#card-content {
  justify-content: space-between;
  overflow: hidden;
}
#card-content .card {
  display: none;
}
#card-content img {
  height: 460px;
  width: auto;
  margin: 70px 10px 70px 200px;
}
#card-content .card-text {
  width: 60%;
}
#card-content .card-text h3 {
  font-family: "Quatsch";
  font-weight: 100;
  font-size: 2rem;
  margin: 80px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#card-content .card-text p {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 30px;
  margin: 0px 0px 0px 150px;
}

.top-10-anime {
  position: relative;
}
.top-10-anime img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
.top-10-anime #anime-btn {
  position: absolute;
  top: 50%;
  left: 75%;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.top-10-anime #anime-btn:hover {
  transform: scale(1.3);
}

#anime-cont-fix {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#anime-cont-fix img {
  height: 460px;
  width: auto;
  margin: 70px 80px 70px 50px;
}
#anime-cont-fix .text-anime-fix {
  width: 60%;
}
#anime-cont-fix .text-anime-fix h3 {
  font-family: "Quatsch";
  font-weight: 100;
  font-size: 2rem;
  margin: 105px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#anime-cont-fix .text-anime-fix p {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 30px;
  margin: 10px 0px 0px 150px;
}

#cont-anime-takeoff {
  justify-content: space-between;
  overflow: hidden;
}
#cont-anime-takeoff .card-anime-takeoff {
  display: none;
}
#cont-anime-takeoff img {
  height: 460px;
  width: auto;
  margin: 30px 10px 70px 200px;
}
#cont-anime-takeoff .text-anime-takeoff {
  width: 60%;
}
#cont-anime-takeoff .text-anime-takeoff h3 {
  font-family: "Quatsch";
  font-weight: 100;
  font-size: 2rem;
  margin: 80px 0px 0px 150px;
  color: #2BBA9F;
  font-size: 60px;
}
#cont-anime-takeoff .text-anime-takeoff p {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 30px;
  margin: 0px 0px 0px 150px;
}

.recommendations .banner-rec {
  width: 100%;
  height: auto;
}
.recommendations h3 {
  font-size: 40px;
  margin: 20px 110px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}
.recommendations .list-recommendations {
  display: flex;
  justify-content: space-between;
}
.recommendations .list-recommendations img {
  height: 500px;
}
.recommendations .list-recommendations .tips p {
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  margin: 70px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 120px;
}
.recommendations .list-recommendations .tips p .number {
  font-family: Potta One;
  color: #F05A71;
  position: absolute;
  font-size: 90px;
  left: 0px;
}
.recommendations .friend {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  margin: 30px 290px 60px 290px;
}

.img-mobile-l {
  max-width: 100vw;
}

@media (min-width: 993px) {
  .img-mobile-l {
    display: none;
  }
  .banner .icons-mobile {
    display: none;
  }
  .body-mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .body-mobile .scroll-x {
    margin: 10px 90px 10px 45px !important;
  }
  .body-mobile .scroll-x .cardX .text-mobile .hidden-text {
    font-size: 17px !important;
  }
}
@media (max-width: 768px) {
  .body-mobile .scroll-x {
    height: 44rem !important;
    width: 35rem !important;
  }
  .body-mobile .scroll-x .cardX h1 {
    font-size: 1.8rem !important;
    margin: 20px 10px 20px 10px !important;
  }
  .body-mobile .scroll-x .cardX img {
    height: 25rem !important;
  }
  .body-mobile .scroll-x .cardX span {
    font-size: 11rem !important;
    left: 3rem !important;
    top: 15.1rem !important;
  }
  .body-mobile .scroll-x .cardX .text-mobile {
    font-size: 15px !important;
    margin: 30px 30px 3px 30px;
    font-family: Ubuntu;
    position: relative;
    position: absolute;
  }
  .body-mobile .scroll-x .cardX .text-mobile .show-more-button {
    width: 6rem;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .recommendations h3 {
    font-size: 1.8rem !important;
  }
  .friend {
    font-size: 1.5rem !important;
    text-align: center;
    margin: 30px 190px 60px 190px !important;
  }
}
@media (max-width: 992px) {
  .body-desktop {
    display: none;
  }
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/tCC0Ysd/fondo-hamburger.jpg);
    z-index: 1000;
  }
  .nav img {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .nav.menu-open img {
    opacity: 1;
  }
  .nav-list {
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav-list li {
    padding: 1.5rem;
    font-size: 2rem;
    font-family: "Quatsch";
    color: #7469C7;
  }
  .nav-list a {
    text-decoration: none;
  }
  .open-menu {
    display: block;
    font-size: 3rem;
    color: #424040;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1001;
  }
  .close-menu {
    display: none;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 3rem;
  }
  .body-mobile {
    height: auto;
    display: flex !important;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .body-mobile .scroll-x {
    background-color: white;
    height: 49rem;
    width: 65rem;
    border-radius: 50px;
    margin: 10px 90px 10px 10px;
    display: flex;
    transition: all 0.3s ease;
  }
  .body-mobile .scroll-x .cardX {
    text-align: center;
    position: relative;
    width: 30rem;
  }
  .body-mobile .scroll-x .cardX h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    margin: 40px 10px 40px 10px;
  }
  .body-mobile .scroll-x .cardX .anime-border {
    height: 30rem;
    border: #2BBA9F 5px solid;
    border-radius: 5%;
  }
  .body-mobile .scroll-x .cardX .number-anime {
    font-size: 12rem;
    font-family: Potta One;
    color: #2BBA9F;
    position: absolute;
    left: 1.2rem;
    top: 21rem;
  }
  .body-mobile .scroll-x .cardX .manga-border {
    height: 30rem;
    border: #F05A71 5px solid;
    border-radius: 5%;
  }
  .body-mobile .scroll-x .cardX .number-manga {
    font-size: 12rem;
    font-family: Potta One;
    color: #F05A71;
    position: absolute;
    left: 1.2rem;
    top: 21rem;
  }
  .body-mobile .scroll-x .cardX .text-mobile {
    font-size: 19px;
    margin: 30px 30px 3px 30px;
    font-family: Ubuntu;
    position: relative;
    position: absolute;
  }
  .body-mobile .scroll-x .cardX .text-mobile .hidden-text {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .body-mobile .scroll-x .cardX .text-mobile .show-more-button {
    width: 6rem;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .recommendations h3 {
    font-size: 2.2rem !important;
  }
  .recommendations .list-recommendations .tips p {
    font-size: 22px !important;
  }
  .recommendations .list-recommendations .tips p .number {
    font-size: 70px !important;
  }
  .recommendations .list-recommendations img {
    display: none;
  }
  .friend {
    font-size: 1.5rem !important;
    text-align: center;
    margin: 30px 290px 60px 290px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.slider {
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2000px;
}
.slider .slide-track .slide-nav {
  width: 200px;
}
.slider .slide-track .slide-nav p {
  width: 100%;
}

.body-faq {
  background-image: url(https://i.ibb.co/fNY8LZd/kawaii-responde-desktop-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.body-faq .banner img {
  width: 100%;
  height: auto;
}

.preguntas-frecuentes {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 30px 50px 30px 75px;
  font-family: "Ubuntu", sans-serif;
}
.preguntas-frecuentes .pregunta {
  position: relative;
}
.preguntas-frecuentes .pregunta h3 {
  font-size: 23px;
  color: #7469C7;
  line-height: 40px;
  margin-top: 30px;
}
.preguntas-frecuentes .pregunta p {
  color: #404041;
  font-size: 18px;
  margin-top: 5px;
  line-height: 33px;
}
.preguntas-frecuentes .pregunta img {
  position: absolute;
}
.preguntas-frecuentes .pregunta .reloj {
  margin: -90px 0px 0px 41rem;
  height: 70px;
}
.preguntas-frecuentes .pregunta .casa {
  margin: -8rem 0px 0px 21rem;
  height: 55px;
}
.preguntas-frecuentes .pregunta .drop-shipping {
  margin: -7.8rem 0px 0px 10rem;
  height: 75px;
}
.preguntas-frecuentes .pregunta .monedas {
  margin: -5.8rem 0px 0px 23rem;
  height: 60px;
}
.preguntas-frecuentes .pregunta .regalo {
  margin: -10.3rem 0px 0px 39rem;
  height: 60px;
}
.preguntas-frecuentes .pregunta .drop-shipping-2 {
  margin: -9rem 0px 0px 43rem;
  height: 85px;
}

@media (max-width: 576px) {
  .preguntas-frecuentes .pregunta p {
    font-size: 18px !important;
  }
  .preguntas-frecuentes .pregunta .reloj {
    margin: -110px 0px 0px 9rem;
    height: 40px;
  }
  .preguntas-frecuentes .pregunta .casa {
    margin: -11rem 0px 0px 21rem;
    height: 35px;
  }
  .preguntas-frecuentes .pregunta .drop-shipping {
    margin: -9.7rem 0px 0px 11.5rem;
    height: 50px;
  }
  .preguntas-frecuentes .pregunta .monedas {
    margin: -9.5rem 0px 0px 23rem;
    height: 40px;
  }
  .preguntas-frecuentes .pregunta .regalo {
    margin: -17.3rem 0px 0px 12rem;
    height: 35px;
  }
  .preguntas-frecuentes .pregunta .drop-shipping-2 {
    margin: -11.2rem 0px 0px 15rem;
    height: 55px;
  }
}
@media (max-width: 768px) {
  .pregunta .reloj {
    margin: -87px 0px 0px 36rem !important;
    height: 50px !important;
  }
  .pregunta .casa {
    margin: -9rem 0px 0px 20rem !important;
    height: 45px !important;
  }
  .pregunta .drop-shipping {
    margin: -8.5rem 0px 0px 11rem !important;
    height: 68px !important;
  }
  .pregunta .monedas {
    margin: -8rem 0px 0px 23rem !important;
    height: 55px !important;
  }
  .pregunta .regalo {
    margin: -14.4rem 0px 0px 37rem !important;
    height: 55px !important;
  }
  .pregunta .drop-shipping-2 {
    margin: -12.5rem 0px 0px 38rem !important;
    height: 65px !important;
  }
}
@media (max-width: 992px) {
  .pregunta .drop-shipping {
    margin: -8.7rem 0px 0px 11rem !important;
  }
  .pregunta .monedas {
    margin: -7.9rem 0px 0px 23rem !important;
  }
  .pregunta .regalo {
    margin: -12.7rem 0px 0px 39rem !important;
  }
  .pregunta .drop-shipping-2 {
    margin: -9rem 0px 0px 43rem;
    height: 85px;
  }
}
@font-face {
  font-family: "Quatsch";
  src: url("../assets/font/QuatschDEMO.otf") format("truetype");
}
.banner-about-div {
  background: linear-gradient(180deg, #F9EE80 10.39%, #FFFCDB 107.97%);
  display: flex;
  margin-bottom: -7px;
}

.banner-about {
  max-width: 100%;
}

.banner-story {
  display: flex;
}

.banner-story-img {
  max-width: 100%;
  margin-bottom: -12rem;
}

.about-body {
  background-image: url("https://i.ibb.co/F7vps9X/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.about-section1 {
  padding-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.about-section2 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.about-section3 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.about-section4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.quienes-tittle {
  max-width: 50%;
}

.container1 {
  display: flex;
  align-items: center;
}

.about-text1 {
  flex: 1;
  padding-right: 20px;
  color: #404041;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Ubuntu;
  font-size: 2rem;
  line-height: 3rem;
}

.img-quienes {
  margin-left: 2rem;
  margin-top: 2rem;
  max-width: 50%;
}

.nuestros-tittle {
  max-width: 90%;
  padding-right: 17rem;
  margin-top: 0;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.img-container {
  flex: 1;
  max-width: 50%;
}

.img-quienes2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 6rem;
  width: 100%;
}

.about-text2 {
  color: #404041;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Ubuntu;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 4rem;
}

.container2 {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.recuerdos-img {
  max-width: 50%;
  padding-left: 6rem;
}

.about-text3 {
  padding: 0 20px;
  color: #404041;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Ubuntu;
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 4rem;
  padding-right: 7rem;
}

.container4 {
  margin: 0 auto;
  padding: 20px;
}

.recuerdos-tittle {
  margin-left: auto;
  display: block;
  max-width: 50%;
}

.otakus {
  margin-top: 6rem;
  max-width: 70%;
  z-index: 1000;
  position: relative;
  margin-left: 4rem;
}

.about-text {
  color: #404041;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Ubuntu;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 4rem;
}

.otakusimg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 6rem;
  width: 100%;
  z-index: -2;
}

@media (max-width: 576px) {
  p {
    font-size: 1rem;
  }
  .nuestros-tittle {
    min-width: 130%;
  }
  .about-section2 {
    margin-top: 3rem;
  }
  .about-text2 {
    margin-bottom: 1rem;
  }
  .about-text {
    margin-bottom: 1rem;
  }
  .about-section1, .about-text2, .about-text3, .about-text {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .about-section1 {
    margin-top: 3rem;
  }
}
@media (max-width: 992px) {
  .container1,
  .container2,
  .container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .text-container,
  .img-container {
    max-width: 100%;
  }
  .recuerdos-img,
  .img-quienes,
  .img-quienes2,
  .otakusimg {
    width: 100%;
  }
  .quienes-tittle {
    margin-top: 3rem;
  }
  .img-quienes {
    max-width: 80%;
  }
  .nuestros-tittle {
    margin-top: -5rem;
  }
  .about-body p {
    text-align: justify;
  }
  .img-quienes2 {
    max-width: 70%;
    padding: 2rem;
  }
  .recuerdos-tittle {
    max-width: 80%;
    margin-right: auto;
    margin-bottom: -4rem;
  }
  .recuerdos-img {
    max-width: 60%;
    padding: 0;
    margin-top: -0.5rem;
  }
  .container2 {
    flex-direction: column-reverse;
  }
  .about-text3 {
    margin-top: 2rem;
  }
  .otakus {
    z-index: 0;
    position: 0;
    margin: 0;
    margin-left: 6rem;
  }
  .otakusimg {
    padding: 2rem;
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 1.5rem !important;
    text-align: left !important;
  }
}/*# sourceMappingURL=styles.css.map */